<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Блог</title>
</head>
<body>
    <h1> {{one_blog.title}} </h1>
    <h2> Опубликован: {{one_blog.published_date}} </h2>
    <h3> {{one_blog.content}}</h3>

    <h4><a  href= "{% url 'title' %}" > К списку знаменитых блогов знаменитого блогера</a></h4>
    <h4><a  href= "{% url 'index' %}" > На главную страницу знаменитого блогера</a></h4>


</body>
</html>